<launch>
  
    <param name="use_sim_time" value="true" />
    <arg name="rviz" default="true" />
    <node pkg="tf" type="static_transform_publisher" name="lidar_0_broadcaster" args="0.15 0 0.13 0 0.23 0 base lidar_0 0.1" />
    <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0.16 0 0.06 0 0 0 base camera_link 0.1" />
    <node pkg="python_executables" type="Unitree_tranformer.py" name="Unitree_tranformer" output="screen" />
    <node pkg="python_executables" type="imu_filter.py" name="imu_filter" output="screen" />
    <node pkg="python_executables" type="aldra.py" name="aldra" output="screen" />
    <node pkg="python_executables" type="navtogps.py" name="navtogps" output="screen" />
    <rosparam command="load" file="$(find faster_lio)/config/velodyne.yaml" />
    
    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num_" type="int" value="4"/>
    <param name="max_iteration" type="int" value="10" />
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="faster_lio" type="run_mapping_online" name="laserMapping" output="screen" /> 
     <!--- Robot State TF -->
    <include file="$(find lio_sam_6axis)/launch/include/module_robot_state_publisher.launch"/>
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen">
        <param name="use_mag" value="false"/>
        <param name="publish_tf" value="false"/>
        <param name="world_frame" value="enu"/>
        <param name="base_link_frame" value="base"/>
        <remap from="imu/data_raw" to="/filtered_imu_data"/>
        <remap from="imu/data" to="/madgwick_filtered_imu"/>
    </node>

    <!-- Add imu_complementary_filter node -->
    <node pkg="imu_complementary_filter" type="complementary_filter_node" name="imu_complementary_filter" output="screen">
        <param name="use_mag" value="false"/>
        <param name="publish_tf" value="false"/>
        <param name="world_frame" value="enu"/>
        <param name="base_link_frame" value="base"/>
        <remap from="imu/data_raw" to="/madgwick_filtered_imu"/>
        <remap from="imu/data" to="/filtered_imu"/>
    </node>
    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find faster_lio)/rviz_cfg/loam_livox.rviz" />
    </group>

</launch>
